<!DOCTYPE html>
<html lang="en">
<body>
<div class="assistantBox">
    <div class="assistantMessageBox" id="assistantMessageBox">
        <div class="assistantMessage">
            test
        </div>
        <div class="assistantUserMessage">
            test2
        </div>
    </div>
    <div>
        <form onsubmit="return sendAssistantMessage()" id="assistantForm">
            <div class="assistantMessageSend">
                <input type="text" id="assistantTextBox" name="text" class="assistantTextBox">
                <input type="submit" class="assistantSubmit">
            </div>
        </form>
    </div>
</div>
</body>
</html>