<!DOCTYPE html>
<html lang="en">
<body>
<div class="assistantContainer">
    <div class="assistantImageContainer" id="assistantImageContainer">
        <img class="assistantImage" src="/static/images/assistant.png" alt="Assistant" onclick="openAssistant()">
    </div>
    <div class="assistantBox" id="assistantBox">
        <div class="assistantBar">
            <button class="assistantExit" onclick="closeAssistant()">x</button>
        </div>
        <div class="assistantMessageBox" id="assistantMessageBox">
            <div class="assistantMessage assistantBotMessage">
                Sveiki, aš esu virtualus asistentas. Jei reikia pagalbos, parašykite man žinutę.
            </div>
        </div>
        <div class="assistantFunctions">
            <div class="assistantMessageSend">
                <input type="text" id="assistantTextBox" name="text" class="assistantTextBox">
                <button onclick="sendAssistantMessage()" class="assistantSubmit"><i class="bi-chat"></i></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>