<!DOCTYPE html>
<html lang="en">
<body>
{% if user is not defined: %}
{% include "inserts/userControl/loginModal.html" %}
{% include "inserts/userControl/registrationModal.html" %}
{% endif %}

<div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">
                        Apie mus
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">
                        DUK
                    </button>
                </li>
            </ul>
        </div>
        {% if user is not defined: %}
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                        Prisijungti
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
                        Registruotis
                    </button>
                </li>
            </ul>
        </div>
        {% else %}
        <div style="color: white">
            <button type="button" class="btn btn-primary" onclick="return logout()">
                Atsijungti
            </button>
            Aš  <img class="userImage" src="/static/images/avatar.png" alt="Avatar">
        </div>
        {% endif %}
    </nav>
</div>

</body>
</html>