<!DOCTYPE html>
<html lang="en">
<body>
{% if user is not defined: %}
{% include "inserts/userControl/loginModal.html" %}
{% endif %}

<div>
    <nav class="navbar navbar-expand-lg navigationBar">
        <a href="/">
            <div class="navbar-brand">
                <img class="logo" src="/static/images/logo.png" alt="logo">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-card-list" style="font-size:3rem;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbarList ml-auto">
                <div>
                    <li class="nav-item">
                        <a href="apiemus" class="navbarPageLinks"> APIE MUS</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <a href="kaina" class="navbarPageLinks"> PASLAUGOS</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <a href="patarimai" class="navbarPageLinks"> PATARIMAI</a>
                    </li>
                </div>
                {% if user is not defined: %}
                <div>
                    <li class="nav-item">
                        <button type="button" class="navbarButton" data-toggle="modal" data-target="#loginModal">
                            PRISIJUNGTI
                        </button>
                    </li>
                </div>
                {% else %}
                <div>
                    <li class="nav-item">
                        <button type="button" class="navbarButton" onclick="return logout()">
                            ATSIJUNGTI
                        </button>
                    </li>
                </div>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

</body>
</html>