:root {
    --site-color: #f2f2f2;
}

body {
    padding:80px 0px 0px 0px;
    background-color:var(--site-color)
}

html {
    scroll-behavior: smooth;
}

footer{
    padding: 20px 0px;
    color:white;
}

h4{
    padding:10px;
}

.error {
    color: red;
    padding: 15px 0px 0px 0px;
    text-align: center;
}

.userImage {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}

.otherImage{
    max-width:100%;
    max-height:100%;
}

.centered{
    text-align: center;
}

.checkBox{
    padding:0px 20px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.buyButton:hover{
    background-color: #007bff;
    color: white;
}

.buyButton:active{
    background-color:#7eb7f2;
}

.mapG {
    pointer-events: visible;
    stroke:white;
    stroke-width:2;
}

.mapG:hover polygon{
    stroke-width: 2;
    stroke:black;
}

.mapGFront{
    fill-opacity:0%;
}

.customTooltip{
    display:none;
    position:fixed;
    pointer-events: none;
    width: auto;
    background-color: white;
    text-align: center;
    padding: 5px 20px 0px 20px;
    border-radius: 6px;
    opacity: 90%;
    user-select:none;
}

.customTooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    opacity: 90%;
}

.mapGSelected {
    fill: blue !important;
    fill-opacity: 80%;
}

.icon {
    position:absolute;
    top:auto;
    bottom: 0.5em;
    right: 0.25em;
    font-size:3em;
}

.mapStatisticContainer > *{
    color: white;
    border-width: 0em 2em 2em 2em;
    border-style: dashed;
    border-color: var(--site-color);
    background-clip: padding-box;
    padding:1em;
}

.mapDisplay {
    text-align: center;
    padding: 4em;
    background-color: #cccccc;
    background-clip: padding-box;
    border-width: 0em 2em 2em 2em;
    border-style: dashed;
    border-color: var(--site-color);
}

.assistantUserMessage {
    text-align: right;
}

.assistantMessage{
    text-align: left;
}

.assistantMessageBox{
    overflow-y: scroll;
    overflow-x: hidden;
    height:12em;
    width:100%;
}

.assistantMessageSend {
    overflow:auto;
    width: 100%;
}

.assistantTextbox {
    width:60%;
    height:24px;
}

.assistantSubmit {
    width:35%;
    height: 30px;
}
