<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css"    href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
<link rel="stylesheet" href="/static/css/root.css">
<link rel="stylesheet" href="/static/css/about.css">
<title>Puslapis</title>
</head>
<body class="d-flex flex-column min-vh-100">
{% include "inserts/common/assistant.html" %}
{% include "inserts/common/navigation.html" %}

<div style="display:flex; flex-direction: column; flex-grow: 1;">
    <div id="Apie_mus" class="row justify-content-lg-center aboutContainer">
        <div class="row justify-content-lg-center" >
            <div class="col col-xl-4 col-lg-4 col-md-4 col-12">
                <img class="centerImage" src="/static/images/about.png" alt="about.png">
            </div>
            <div class="col col-xl-8 col-lg-8 col-md-8 col-12">
                <h1>
                    ShinyTrade Lietuva
                </h1>
                <div>
                    ShinyTrade Lietuva - tai KTU studentų komandai, produkto vystymo projekto
modulio metu, užgimusi idėja. Šiame modulyje nagrinėjome elektros biržos
alternatyvas, ir nusprendėme sukurti šią platformą, kad padėtume žmonėms
panaudoti saulės energijos perteklių ir taip prisidėti prie tvarios aplinkos.
                </div>
                <div>
                    Šiuo metu Lietuvoje negalima parduoti saulės energijos pertekliaus dėl esamų
teisinių apribojimų. Tačiau, mes norime paruošti pagrindą, kad ši rinka taptų plati ir
žmonės galėtų lengviau ir pigiau naudoti saulės energiją savo namų ūkiams. Mes
tikime, kad saulės energija yra vienas iš geriausių būdų, kaip prisidėti prie tvarios
aplinkos ir užtikrinti ilgalaikį energijos tiekimo stabilumą.
                </div>
                <div>
                    Mes, kaip studentai, siekiame parodyti, kad net ir maža idėja gali tapti dideliu
projektu, kuris gali padėti visuomenei. Mes stengiamės vystyti savo svetainę ir didinti
žmonių supratimą apie saulės energijos naudą, ir tokiu būdu skatinti ilgalaikį tvarios
energijos naudojimą.
                </div>
            </div>
        </div>
    </div>
</div>

{% include "inserts/common/footer.html" %}

</body>
{% include "inserts/common/scripts.html" %}
</html>