<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css"    href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
<link rel="stylesheet" href="/static/css/style.css">
<title>Puslapis</title>
</head>

<body class="d-flex flex-column min-vh-100">
{% include "inserts/common/assistant.html" %}
{% include "inserts/common/navigation.html" %}

<div id="Apie_mus" class="row justify-content-lg-center">
    <h1>Apie mus</h1>
    <div class="row justify-content-lg-center">
        <div class="col col-lg-6">
            ShinyTrade Lietuva yra produktas, skirtas žaliąją energiją gaminantiems bei vartojantiems Lietuvos gyventojas.
Šis produktas – tai platforma, kuri palengvina elektros pirkimą ir pardavimą tarp įvairių elektros rinkos dalyvių.
Šiame puslapyje realiu laiku pateikiama informacija apie elektros pasiūlą ir paklausą, esamas kainas ir rinkos tendencijas.
        </div>
        <div class="col col-lg-2">
            <img class="otherImage" src="/static/images/tower.jfif" alt="Avatar">
        </div>
    </div>
</div>


{% include "inserts/common/footer.html" %}

</body>
{% include "inserts/common/scripts.html" %}
</html>